body {
    background-color: rgb(233, 29, 148);
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  h1 {
    text-align: center;
  }
  
  .batur{
    border: 5px black;
    text-align: center;
    padding: 17px;
  }
  
  .batur:hover {
    background-color: rgb(243, 10, 146);
  }
   
  .sirah-tabel {
    background-color: rgb(236, 11, 150);
  }
  
  .tabel {
    border-collapse: collapse;
    width: 100%;
  }
  
  .aksi-batur {
    background-color: azure;
  }
  
  .aksi-batur:hover {
    background-color: rgb(240, 10, 144);
  }
